{% extends "bootstrap_base.html" %}

{%block title%}Base{%endblock%}

{%block body_content%}



<div class="container">
	<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<nav class="navbar navbar-expand-sm navbar-light bg-light">
		<a class="navbar-brand " href="#">Navbar</a>

		<ul class="navbar-nav mr-auto ">
			<li>
				<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			</li>
			<li>
				<a class="nav-link" href="/list">List <span class="sr-only"></span></a>
			</li>
			<li>
				<a class="nav-link" href="/microservice">Microservice <span class="sr-only"></span></a>
			</li>
		</ul>
	</nav>


	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="row">
		<div class="span8 offset4">
			<ul>
				{% for message in messages %}
				<li>{{ message }} </li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}
	{% endwith %}

	{%block main_content%}{%endblock%}

</div>

{%endblock%}